.color-data{
    color:#82127E
}
.color-news{
    color:#CF4547
}
.color-people{
    color:#5AB18C
}
.color-publications{
    color:#EB7A59
}
.color-work{
    color:#2093bf
}
button,a.button,input[type="submit"]{
    -webkit-font-smoothing:antialiased;
    background-color:#5E416D;
    border-radius:.3125em;
    font-family:"omnes-pro","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    font-size:1.1em;
    color:white;
    display:inline-block;
    line-height:1;
    padding:.75em 1em;
    text-decoration:none
}
button:hover,a.button:hover,input[type="submit"]:hover{
    background-color:#875e9d;
    color:white
}
body{
    -webkit-font-smoothing:antialiased;
    background-color:#fff;
    color:#222;
    font-family:"omnes-pro","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    font-size:1.1em;
    line-height:1.65
}
h1,h2,h3,h4,h5,h6{
    font-family:"omnes-pro","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    line-height:1.375em;
    margin:0;
    text-rendering:optimizeLegibility;
    font-weight:300;
    color:#4D4D4D
}
h1 a,a h1,h2 a,a h2,h3 a,a h3,h4 a,a h4,h5 a,a h5,h6 a,a h6{
    text-decoration:none
}
h1,h2,h2 i{
    font-weight:200
}
p{
    font-weight:300
}
p{
    margin:0 0 .825em
}
a{
    -webkit-transition:color 0.1s linear;
    -moz-transition:color 0.1s linear;
    transition:color 0.1s linear;
    color:#222;
    text-decoration:underline
}
a:hover{
    color:#484848;
    text-decoration:underline
}
a:active,a:focus{
    color:#484848;
    outline:none;
    text-decoration:underline
}
hr{
    border-bottom:1px solid gray;
    border-left:none;
    border-right:none;
    border-top:none;
    margin:1.65em 0
}
img{
    margin:0;
    max-width:100%
}
blockquote{
    border-left:2px solid gray;
    color:#484848;
    margin:1.65em 0;
    padding-left:.825em
}
.section-work blockquote,#work-section blockquote,blockquote.work,.work blockquote{
    border-color:#2093bf
}
.section-people blockquote,#people-section blockquote,blockquote.people,.people blockquote{
    border-color:#5AB18C
}
.section-publications blockquote,#publications-section blockquote,blockquote.publications,.publications blockquote{
    border-color:#EB7A59
}
.section-data blockquote,#data-section blockquote,blockquote.data,.data blockquote{
    border-color:#82127E
}
.section-news blockquote,#news-section blockquote,blockquote.news,.news blockquote{
    border-color:#CF4547
}
.section-contact blockquote,#contact-section blockquote,blockquote.contact,.contact blockquote{
    border-color:#4D4D4D
}
cite{
    color:#626262;
    font-style:italic
}
cite:before{
    content:'\2014 \00A0'
}
.lead{
    font-size:1.463em
}
.highlight,.fat-highlight,a.read-more,a .read-more,.porthole h4,.porthole h4 a{
    font-weight:500;
    text-decoration:none
}
.section-work .highlight,.section-work .fat-highlight,.section-work a.read-more,.section-work a .read-more,a .section-work .read-more,.section-work .porthole h4,.porthole .section-work h4,.section-work .porthole h4 a,.porthole h4 .section-work a,#work-section .highlight,#work-section .fat-highlight,#work-section a.read-more,#work-section a .read-more,a #work-section .read-more,#work-section .porthole h4,.porthole #work-section h4,#work-section .porthole h4 a,.porthole h4 #work-section a,.highlight.work,.work.fat-highlight,a.work.read-more,a .work.read-more,.porthole h4.work,.porthole h4 a.work,.work .highlight,.work .fat-highlight,.work a.read-more,.work a .read-more,a .work .read-more,.work .porthole h4,.porthole .work h4,.work .porthole h4 a,.porthole h4 .work a{
    color:#2093bf
}
.section-people .highlight,.section-people .fat-highlight,.section-people a.read-more,.section-people a .read-more,a .section-people .read-more,.section-people .porthole h4,.porthole .section-people h4,.section-people .porthole h4 a,.porthole h4 .section-people a,#people-section .highlight,#people-section .fat-highlight,#people-section a.read-more,#people-section a .read-more,a #people-section .read-more,#people-section .porthole h4,.porthole #people-section h4,#people-section .porthole h4 a,.porthole h4 #people-section a,.highlight.people,.people.fat-highlight,a.people.read-more,a .people.read-more,.porthole h4.people,.porthole h4 a.people,.people .highlight,.people .fat-highlight,.people a.read-more,.people a .read-more,a .people .read-more,.people .porthole h4,.porthole .people h4,.people .porthole h4 a,.porthole h4 .people a{
    color:#5AB18C
}
.section-publications .highlight,.section-publications .fat-highlight,.section-publications a.read-more,.section-publications a .read-more,a .section-publications .read-more,.section-publications .porthole h4,.porthole .section-publications h4,.section-publications .porthole h4 a,.porthole h4 .section-publications a,#publications-section .highlight,#publications-section .fat-highlight,#publications-section a.read-more,#publications-section a .read-more,a #publications-section .read-more,#publications-section .porthole h4,.porthole #publications-section h4,#publications-section .porthole h4 a,.porthole h4 #publications-section a,.highlight.publications,.publications.fat-highlight,a.publications.read-more,a .publications.read-more,.porthole h4.publications,.porthole h4 a.publications,.publications .highlight,.publications .fat-highlight,.publications a.read-more,.publications a .read-more,a .publications .read-more,.publications .porthole h4,.porthole .publications h4,.publications .porthole h4 a,.porthole h4 .publications a{
    color:#EB7A59
}
.section-data .highlight,.section-data .fat-highlight,.section-data a.read-more,.section-data a .read-more,a .section-data .read-more,.section-data .porthole h4,.porthole .section-data h4,.section-data .porthole h4 a,.porthole h4 .section-data a,#data-section .highlight,#data-section .fat-highlight,#data-section a.read-more,#data-section a .read-more,a #data-section .read-more,#data-section .porthole h4,.porthole #data-section h4,#data-section .porthole h4 a,.porthole h4 #data-section a,.highlight.data,.data.fat-highlight,a.data.read-more,a .data.read-more,.porthole h4.data,.porthole h4 a.data,.data .highlight,.data .fat-highlight,.data a.read-more,.data a .read-more,a .data .read-more,.data .porthole h4,.porthole .data h4,.data .porthole h4 a,.porthole h4 .data a{
    color:#82127E
}
.section-news .highlight,.section-news .fat-highlight,.section-news a.read-more,.section-news a .read-more,a .section-news .read-more,.section-news .porthole h4,.porthole .section-news h4,.section-news .porthole h4 a,.porthole h4 .section-news a,#news-section .highlight,#news-section .fat-highlight,#news-section a.read-more,#news-section a .read-more,a #news-section .read-more,#news-section .porthole h4,.porthole #news-section h4,#news-section .porthole h4 a,.porthole h4 #news-section a,.highlight.news,.news.fat-highlight,a.news.read-more,a .news.read-more,.porthole h4.news,.porthole h4 a.news,.news .highlight,.news .fat-highlight,.news a.read-more,.news a .read-more,a .news .read-more,.news .porthole h4,.porthole .news h4,.news .porthole h4 a,.porthole h4 .news a{
    color:#CF4547
}
.section-contact .highlight,.section-contact .fat-highlight,.section-contact a.read-more,.section-contact a .read-more,a .section-contact .read-more,.section-contact .porthole h4,.porthole .section-contact h4,.section-contact .porthole h4 a,.porthole h4 .section-contact a,#contact-section .highlight,#contact-section .fat-highlight,#contact-section a.read-more,#contact-section a .read-more,a #contact-section .read-more,#contact-section .porthole h4,.porthole #contact-section h4,#contact-section .porthole h4 a,.porthole h4 #contact-section a,.highlight.contact,.contact.fat-highlight,a.contact.read-more,a .contact.read-more,.porthole h4.contact,.porthole h4 a.contact,.contact .highlight,.contact .fat-highlight,.contact a.read-more,.contact a .read-more,a .contact .read-more,.contact .porthole h4,.porthole .contact h4,.contact .porthole h4 a,.porthole h4 .contact a{
    color:#4D4D4D
}
a .highlight:hover,a .fat-highlight:hover,a .read-more:hover,a .porthole h4:hover,.porthole a h4:hover,a .porthole h4 a:hover,.porthole h4 a a:hover,.highlighta:hover{
    text-decoration:underline
}
a .highlight:active,a .fat-highlight:active,a .read-more:active,a .porthole h4:active,.porthole a h4:active,a .porthole h4 a:active,.porthole h4 a a:active,a .highlight:focus,a .fat-highlight:focus,a .read-more:focus,a .porthole h4:focus,.porthole a h4:focus,a .porthole h4 a:focus,.porthole h4 a a:focus,.highlighta:active,.highlighta:focus{
    outline:none;
    text-decoration:underline
}
.fat-highlight{
    font-weight:800
}
a.read-more,a .read-more{
    white-space:nowrap
}
a.read-more:after,a .read-more:after{
    content:' \25b8'
}
fieldset{
    background:#9a9a9a;
    border:1px solid gray;
    margin:0 0 .825em 0;
    padding:1.65em
}
input,label,select{
    display:block;
    font-family:"omnes-pro","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    font-size:1.1em
}
label{
    font-weight:bold;
    margin-bottom:.4125em
}
label.required:after{
    content:"*"
}
label abbr{
    display:none
}
textarea,input[type="email"],input[type="number"],input[type="password"],input[type="search"],input[type="tel"],input[type="text"],input[type="url"],input[type="color"],input[type="date"],input[type="datetime"],input[type="datetime-local"],input[type="month"],input[type="time"],input[type="week"],select[multiple=multiple]{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-transition:border-color;
    -moz-transition:border-color;
    transition:border-color;
    background-color:white;
    border-radius:.3125em;
    border:1px solid gray;
    box-shadow:inset 0 1px 3px rgba(0,0,0,0.06);
    font-family:"omnes-pro","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    font-size:1.1em;
    margin-bottom:.825em;
    padding:.55em .55em;
    width:100%
}
textarea:hover,input[type="email"]:hover,input[type="number"]:hover,input[type="password"]:hover,input[type="search"]:hover,input[type="tel"]:hover,input[type="text"]:hover,input[type="url"]:hover,input[type="color"]:hover,input[type="date"]:hover,input[type="datetime"]:hover,input[type="datetime-local"]:hover,input[type="month"]:hover,input[type="time"]:hover,input[type="week"]:hover,select[multiple=multiple]:hover{
    border-color:#676767
}
textarea:focus,input[type="email"]:focus,input[type="number"]:focus,input[type="password"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="text"]:focus,input[type="url"]:focus,input[type="color"]:focus,input[type="date"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="month"]:focus,input[type="time"]:focus,input[type="week"]:focus,select[multiple=multiple]:focus{
    border-color:#5E416D;
    box-shadow:inset 0 1px 3px rgba(0,0,0,0.06),0 0 5px rgba(80,55,93,0.7);
    outline:none
}
textarea{
    resize:vertical
}
input[type="search"]{
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    -o-appearance:none;
    appearance:none
}
input[type="checkbox"],input[type="radio"]{
    display:inline;
    margin-right:.4125em
}
input[type="file"]{
    margin-bottom:.825em;
    padding-bottom:.55em;
    width:100%
}
select{
    width:auto;
    max-width:100%;
    margin-bottom:1.65em
}
table{
    border-collapse:collapse;
    margin:.825em 0;
    table-layout:fixed;
    width:100%
}
th{
    border-bottom:1px solid #5a5a5a;
    font-weight:bold;
    padding:.825em 0;
    text-align:left
}
td{
    border-bottom:1px solid gray;
    padding:.825em 0
}
tr,td,th{
    vertical-align:middle
}
ul,ol{
    margin:0;
    padding:0;
    list-style-type:none
}
dl{
    margin-bottom:.825em
}
dl dt{
    font-weight:bold;
    margin-top:.825em
}
dl dd{
    margin:0
}
button,a.button,input[type="submit"]{
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    -o-appearance:none;
    appearance:none;
    border:none;
    cursor:pointer;
    user-select:none;
    vertical-align:middle;
    white-space:nowrap
}
body{
    margin:0
}
*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
.responsive-navigation{
    background-color:#fff;
    height:5.125em;
    width:100%;
    position:fixed;
    top:0;
    z-index:9999;
    padding-left:0;
    opacity:0.95
}
.responsive-navigation a{
    text-decoration:none
}
@media screen and (min-width: 60em){
    .responsive-navigation{
        border-bottom:.0625em solid #E7E7E7
    }
}
@media screen and (max-width: 60em){
    .responsive-navigation{
        height:2.625em;
        padding:0 0;
        border-bottom:.0625em solid #E7E7E7
    }
}
.responsive-navigation .logo{
    height:5.4375em;
    width:12.9375em;
    position:fixed;
    background:url("images\dragonfly-logo-rgb.png");
     background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
    z-index:1000;
    border-bottom:.375em solid rgba(255,255,255,0)
}
@media screen and (max-width: 60em){
    .responsive-navigation .logo{
        height:1.625em;
        width:4em;
        border:none;
        background:url("images\dragonfly-wing-only-white.png");
        background-size:contain;
        background-repeat:no-repeat;
        background-position:center;
        float:left;
        top:0.5em
    }
}
.responsive-navigation .contact-text{
    color:white;
    padding-top:2.875em;
    padding-bottom:3.5em;
    line-height:1.75em;
    text-align:left
}
@media screen and (min-width: 60em){
    .responsive-navigation .contact-text{
        display:none
    }
}
.responsive-navigation .contact-text a{
    color:white;
    text-decoration:underline
}
.responsive-navigation .responsive-navigation-menu-button{
    display:block;
    color:rgba(34,34,34,0.7);
    float:right;
    margin:0;
    margin-right:48px;
    padding-top:1.5625em;
    padding-top:0.6em
}
@media screen and (max-width: 26.25em){
    .responsive-navigation .responsive-navigation-menu-button{
        margin-right:12px
    }
}
@media screen and (min-width: 60em){
    .responsive-navigation .responsive-navigation-menu-button{
        display:none
    }
}
.responsive-navigation .responsive-navigation-menu-button:hover{
    color:#222
}
.responsive-navigation .responsive-navigation-menu-button span.icon-bar{
    border-bottom:.1875em solid #fff;
    display:block;
    padding:0.3em 1em 0 1em
}
.responsive-navigation .responsive-navigation-wrapper[data-section=index] span.icon-bar{
    border-bottom:.1875em solid #4D4D4D
}
@media screen and (max-width: 60em){
    .responsive-navigation .responsive-navigation-wrapper[data-section=index] .logo{
        background-image:url("images\dragonfly-wing-only-blue.png")
    }
}
.responsive-navigation .responsive-navigation-wrapper{
    position:relative;
    z-index:999;
    height:100%;
    background-opacity:0.4;
    padding-left:24px;
    -webkit-transition:height 0.4s,background 0.4s;
    -moz-transition:height 0.4s,background 0.4s;
    transition:height 0.4s,background 0.4s
}
.responsive-navigation .responsive-navigation-wrapper:after{
    content:"";
    display:table;
    clear:both
}
@media screen and (max-width: 45em){
    .responsive-navigation .responsive-navigation-wrapper{
        padding-left:48px
    }
}
@media screen and (max-width: 26.25em){
    .responsive-navigation .responsive-navigation-wrapper{
        padding-left:12px
    }
}
@media screen and (max-width: 60em){
    .responsive-navigation .responsive-navigation-wrapper[data-section=contact]{
        background:#82127E
    }
    .responsive-navigation .responsive-navigation-wrapper[data-section=work]{
        background:#2093bf
    }
    .responsive-navigation .responsive-navigation-wrapper[data-section=data]{
        background:#82127E
    }
    .responsive-navigation .responsive-navigation-wrapper[data-section=people]{
        background:#5AB18C
    }
    .responsive-navigation .responsive-navigation-wrapper[data-section=publications]{
        background:#EB7A59
    }
    .responsive-navigation .responsive-navigation-wrapper[data-section=news]{
        background:#CF4547
    }
}
.responsive-navigation .responsive-navigation-wrapper[data-mode=open]{
    height:100vh;
    position:absolute;
    left:0;
    top:0;
    right:0;
    z-index:10001;
    white-space:nowrap;
    overflow:none;
    background-color:#3F8DB3;
    background-image:-webkit-linear-gradient(-91deg, #3F8DB3 0%,#1A9E86 88%);
    background-image:linear-gradient(-179deg,#3F8DB3 0%,#1A9E86 88%)
}
.responsive-navigation .responsive-navigation-wrapper[data-mode=open] ul.responsive-navigation-menu{
    display:block
}
.responsive-navigation .responsive-navigation-wrapper[data-mode=open] ul.responsive-navigation-menu li,.responsive-navigation .responsive-navigation-wrapper[data-mode=open] ul.responsive-navigation-menu .contact-text{
    font-size:1.5em
}
.responsive-navigation .responsive-navigation-wrapper[data-mode=open] .logo{
    background-image:url("images\dragonfly-wing-only-white.png")
}
.responsive-navigation .responsive-navigation-wrapper[data-mode=open] span.icon-bar{
    border-bottom:.1875em solid #fff
}
.responsive-navigation .responsive-navigation-wrapper[data-mode=open][data-section=people]{
    background-color:#5AB18C;
    background-image:-webkit-linear-gradient(#5AB18C,#3F8D83);
    background-image:linear-gradient(#5AB18C,#3F8D83)
}
.responsive-navigation .responsive-navigation-wrapper[data-mode=open][data-section=work]{
    background-color:#2093bf;
    background-image:-webkit-linear-gradient(#2093bf,#3F8D83);
    background-image:linear-gradient(#2093bf,#3F8D83)
}
.responsive-navigation .responsive-navigation-wrapper[data-mode=open][data-section=data]{
    background-color:#82127E;
    background-image:-webkit-linear-gradient(#82127E,#3F8D83);
    background-image:linear-gradient(#82127E,#3F8D83)
}
.responsive-navigation .responsive-navigation-wrapper[data-mode=open][data-section=contact]{
    background-color:#4D4D4D;
    background-image:-webkit-linear-gradient(#4D4D4D,#3F8D83);
    background-image:linear-gradient(#4D4D4D,#3F8D83)
}
.responsive-navigation .responsive-navigation-wrapper[data-mode=open][data-section=publications]{
    background-color:#EB7A59;
    background-image:-webkit-linear-gradient(#EB7A59,#CF4547);
    background-image:linear-gradient(#EB7A59,#CF4547)
}
.responsive-navigation .responsive-navigation-wrapper[data-mode=open][data-section=news]{
    background-color:#CF4547;
    background-image:-webkit-linear-gradient(#CF4547,#2093bf);
    background-image:linear-gradient(#CF4547,#2093bf)
}
.responsive-navigation ul.responsive-navigation-menu{
    -webkit-transform-style:preserve-3d;
    clear:both;
    margin:0 auto;
    overflow:visible;
    padding:0;
    padding-top:2em;
    width:100%;
    z-index:99999;
    display:none
}
@media screen and (min-width: 60em){
    .responsive-navigation ul.responsive-navigation-menu{
        display:block;
        text-align:center;
        padding-left:12.9375em;
        padding-top:0
    }
}
.responsive-navigation .nav-link:first-child{
    margin-left:0
}
@media screen and (min-width: 60em){
    .responsive-navigation .nav-link:first-child{
        margin-left:0em
    }
}
.responsive-navigation ul li.nav-link{
    overflow:hidden;
    margin-left:auto;
    margin-right:auto;
    width:100%;
    z-index:9999;
    background:transparent;
    display:inherit;
    text-align:left
}
.responsive-navigation ul li.nav-link a{
    color:white
}
@media screen and (min-width: 60em){
    .responsive-navigation ul li.nav-link{
        display:inline;
        padding-bottom:1.1625em;
        padding-right:1em;
        padding-left:1em;
        line-height:5.125em;
        text-align:center;
        border-bottom:.25em solid rgba(255,255,255,0)
    }
    .responsive-navigation ul li.nav-link a{
        color:rgba(34,34,34,0.7);
        padding-right:.5em;
        padding-left:.5em;
        margin-top:.55em;
        height:4.575em;
        padding-right:0;
        padding-left:0;
        display:inline-block
    }
    .responsive-navigation ul li.nav-link a:hover{
        color:#222
    }
}
@media screen and (max-width: 60em){
    .responsive-navigation .responsive-navigation-wrapper>a.logo{
        border-bottom:none !important
    }
}
.responsive-navigation .responsive-navigation-wrapper[data-section=contact]>a.logo{
    border-bottom:.375em solid #4D4D4D
}
.responsive-navigation .responsive-navigation-wrapper[data-section=work]>a.logo{
    border-bottom:.375em solid #2093bf
}
.responsive-navigation .responsive-navigation-wrapper[data-section=data]>a.logo{
    border-bottom:.375em solid #82127E
}
.responsive-navigation .responsive-navigation-wrapper[data-section=people]>a.logo{
    border-bottom:.375em solid #5AB18C
}
.responsive-navigation .responsive-navigation-wrapper[data-section=news]>a.logo{
    border-bottom:.375em solid #CF4547
}
.responsive-navigation .responsive-navigation-wrapper[data-section=publications]>a.logo{
    border-bottom:.375em solid #EB7A59
}
@media screen and (min-width: 60em){
    .responsive-navigation .responsive-navigation-wrapper[data-section=people] li.nav-link[data-section=people]{
        border-bottom:.25em solid #5AB18C
    }
    .responsive-navigation .responsive-navigation-wrapper[data-section=work] li.nav-link[data-section=work]{
        border-bottom:.25em solid #2093bf
    }
    .responsive-navigation .responsive-navigation-wrapper[data-section=data] li.nav-link[data-section=data]{
        border-bottom:.25em solid #82127E
    }
    .responsive-navigation .responsive-navigation-wrapper[data-section=publications] li.nav-link[data-section=publications]{
        border-bottom:.25em solid #EB7A59
    }
    .responsive-navigation .responsive-navigation-wrapper[data-section=news] li.nav-link[data-section=news]{
        border-bottom:.25em solid #CF4547
    }
    .responsive-navigation .responsive-navigation-wrapper[data-section=contact] li.nav-link[data-section=contact]{
        border-bottom:.25em solid #4D4D4D
    }
}
@media screen and (max-width: 26.25em){
    h1.title{
        position:absolute;
        left:0;
        right:0;
        top:-3.2em;
        text-align:center;
        color:white;
        z-index:10000;
        font-size:1.5em;
        font-weight:500;
        letter-spacing:.04438em;
        pointer-events:none
    }
}
a.anchor{
    display:block;
    position:relative;
    top:-5.125em;
    visibility:hidden
}
@media screen and (max-width: 60em){
    a.anchor{
        top:-2.625em
    }
}
.menu-spacer{
    margin-top:5.125em
}
@media screen and (max-width: 60em){
    .menu-spacer{
        margin-top:2.625em
    }
}
main{
    display:block
}
section{
    display:block
}
address{
    display:block
}
header{
    display:block
}
footer{
    display:block
}
nav{
    display:block
}
main{
    margin-top:5.125em
}
@media screen and (max-width: 60em){
    main{
        margin-top:2.625em
    }
}
.container{
    max-width:68em;
    margin-left:auto;
    margin-right:auto
}
.container:after{
    content:"";
    display:table;
    clear:both
}
.content-margin{
    margin-top:1.65em
}
main>.container:first-of-type{
    padding-top:1.65em
}
main>.container:last-of-type{
    padding-bottom:1.65em
}
@media screen and (max-width: 60em){
    .side-margins{
        padding-left:48px;
        padding-right:48px
    }
}
@media screen and (max-width: 45em){
    .side-margins{
        padding-left:48px;
        padding-right:48px
    }
}
@media screen and (max-width: 26.25em){
    .side-margins{
        padding-left:12px;
        padding-right:12px
    }
}
.sidebar{
    float:left;
    display:block;
    margin-right:2.35765%;
    width:14.70196%;
    margin-left:8.5298%
}
.sidebar:last-child{
    margin-right:0
}
@media screen and (max-width: 45em){
    .sidebar{
        padding-left:24px;
        float:left;
        display:block;
        margin-right:2.35765%;
        width:100%;
        margin-left:0%
    }
}
@media screen and (max-width: 45em) and (max-width: 45em){
    .sidebar{
        padding-left:48px
    }
}
@media screen and (max-width: 45em) and (max-width: 26.25em){
    .sidebar{
        padding-left:12px
    }
}
@media screen and (max-width: 45em){
    .sidebar:last-child{
        margin-right:0
    }
}
.content{
    float:left;
    display:block;
    margin-right:2.35765%;
    width:65.88078%;
    position:relative
}
.content:last-child{
    margin-right:0
}
.content:after{
    content:"";
    display:table;
    clear:both
}
@media screen and (max-width: 45em){
    .content{
        float:left;
        display:block;
        margin-right:2.35765%;
        width:100%;
        margin-left:0%
    }
}
@media screen and (max-width: 45em) and (max-width: 60em){
    .content{
        padding-left:48px;
        padding-right:48px
    }
}
@media screen and (max-width: 45em) and (max-width: 45em){
    .content{
        padding-left:48px;
        padding-right:48px
    }
}
@media screen and (max-width: 45em) and (max-width: 26.25em){
    .content{
        padding-left:12px;
        padding-right:12px
    }
}
@media screen and (max-width: 45em){
    .content:last-child{
        margin-right:0
    }
}
.content.no-sidebar{
    margin-left:12.94733%
}
.wide{
    float:left;
    display:block;
    margin-right:2.35765%;
    width:82.94039%;
    margin-left:8.5298%;
    position:relative
}
.wide:last-child{
    margin-right:0
}
.wide:after{
    content:"";
    display:table;
    clear:both
}
@media screen and (max-width: 45em){
    .wide{
        float:left;
        display:block;
        margin-right:2.35765%;
        width:100%;
        margin-left:0%
    }
}
@media screen and (max-width: 45em) and (max-width: 60em){
    .wide{
        padding-left:48px;
        padding-right:48px
    }
}
@media screen and (max-width: 45em) and (max-width: 45em){
    .wide{
        padding-left:48px;
        padding-right:48px
    }
}
@media screen and (max-width: 45em) and (max-width: 26.25em){
    .wide{
        padding-left:12px;
        padding-right:12px
    }
}
@media screen and (max-width: 45em){
    .wide:last-child{
        margin-right:0
    }
}
.narrow{
    float:left;
    display:block;
    margin-right:2.35765%;
    width:65.88078%;
    margin-left:17.05961%;
    position:relative
}
.narrow:last-child{
    margin-right:0
}
.narrow:after{
    content:"";
    display:table;
    clear:both
}
@media screen and (max-width: 45em){
    .narrow{
        float:left;
        display:block;
        margin-right:2.35765%;
        width:100%;
        margin-left:0%
    }
}
@media screen and (max-width: 45em) and (max-width: 60em){
    .narrow{
        padding-left:48px;
        padding-right:48px
    }
}
@media screen and (max-width: 45em) and (max-width: 45em){
    .narrow{
        padding-left:48px;
        padding-right:48px
    }
}
@media screen and (max-width: 45em) and (max-width: 26.25em){
    .narrow{
        padding-left:12px;
        padding-right:12px
    }
}
@media screen and (max-width: 45em){
    .narrow:last-child{
        margin-right:0
    }
}
h1{
    font-size:4.95em
}
@media screen and (max-width: 45em){
    h1{
        font-size:4.4em
    }
}
@media screen and (max-width: 26.25em){
    h1{
        font-size:3.3em
    }
}
h2{
    font-size:2.475em
}
@media screen and (max-width: 45em){
    h2{
        font-size:2.2em
    }
}
@media screen and (max-width: 26.25em){
    h2{
        font-size:1.65em
    }
}
h3{
    font-size:1.463em
}
@media screen and (max-width: 45em){
    h3{
        font-size:1.375em
    }
}
@media screen and (max-width: 26.25em){
    h3{
        font-size:1.375em
    }
}
h4{
    font-size:1.2375em
}
@media screen and (max-width: 45em){
    h4{
        font-size:1.2375em
    }
}
@media screen and (max-width: 26.25em){
    h4{
        font-size:1.2375em
    }
}
h5{
    font-size:1.1em
}
@media screen and (max-width: 45em){
    h5{
        font-size:1.1em
    }
}
@media screen and (max-width: 26.25em){
    h5{
        font-size:1.1em
    }
}
h6{
    font-size:1.1em
}
@media screen and (max-width: 45em){
    h6{
        font-size:1.1em
    }
}
@media screen and (max-width: 26.25em){
    h6{
        font-size:1.1em
    }
}
@media screen and (max-width: 26.25em){
    .porthole-grid{
        width:100%
    }
}
.porthole-grid.two-columns .porthole{
    float:left;
    display:block;
    margin-right:2.35765%;
    width:48.82117%
}
.porthole-grid.two-columns .porthole:last-child{
    margin-right:0
}
@media screen and (min-width: 45em){
    .porthole-grid.two-columns .porthole:nth-child(2n){
        margin-right:0
    }
}
@media screen and (max-width: 45em){
    .porthole-grid.two-columns .porthole{
        float:left;
        display:block;
        margin-right:3.57866%;
        width:74.10533%;
        margin-left:12.94733%
    }
    .porthole-grid.two-columns .porthole:last-child{
        margin-right:0
    }
}
@media screen and (max-width: 26.25em){
    .porthole-grid.two-columns .porthole{
        float:left;
        display:block;
        margin-right:3.57866%;
        width:74.10533%;
        margin-left:12.94733%
    }
    .porthole-grid.two-columns .porthole:last-child{
        margin-right:0
    }
}
.porthole-grid.three-columns .porthole{
    float:left;
    display:block;
    margin-right:2.35765%;
    width:31.76157%
}
.porthole-grid.three-columns .porthole:last-child{
    margin-right:0
}
@media screen and (min-width: 45em){
    .porthole-grid.three-columns .porthole:nth-child(3n){
        margin-right:0
    }
}
@media screen and (max-width: 45em){
    .porthole-grid.three-columns .porthole{
        float:left;
        display:block;
        margin-right:3.57866%;
        width:74.10533%;
        margin-left:12.94733%
    }
    .porthole-grid.three-columns .porthole:last-child{
        margin-right:0
    }
}
@media screen and (max-width: 26.25em){
    .porthole-grid.three-columns .porthole{
        float:left;
        display:block;
        margin-right:3.57866%;
        width:74.10533%;
        margin-left:12.94733%
    }
    .porthole-grid.three-columns .porthole:last-child{
        margin-right:0
    }
}
.porthole-grid.four-columns .porthole{
    float:left;
    display:block;
    margin-right:2.35765%;
    width:23.23176%
}
.porthole-grid.four-columns .porthole:last-child{
    margin-right:0
}
@media screen and (min-width: 45em){
    .porthole-grid.four-columns .porthole:nth-child(4n){
        margin-right:0
    }
}
@media screen and (max-width: 45em){
    .porthole-grid.four-columns .porthole{
        float:left;
        display:block;
        margin-right:3.57866%;
        width:74.10533%;
        margin-left:12.94733%
    }
    .porthole-grid.four-columns .porthole:last-child{
        margin-right:0
    }
}
@media screen and (max-width: 26.25em){
    .porthole-grid.four-columns .porthole{
        float:left;
        display:block;
        margin-right:3.57866%;
        width:74.10533%;
        margin-left:12.94733%
    }
    .porthole-grid.four-columns .porthole:last-child{
        margin-right:0
    }
}
.porthole-grid.six-columns .porthole{
    float:left;
    display:block;
    margin-right:2.35765%;
    width:14.70196%
}
.porthole-grid.six-columns .porthole:last-child{
    margin-right:0
}
@media screen and (min-width: 45em){
    .porthole-grid.six-columns .porthole:nth-child(6n){
        margin-right:0
    }
}
@media screen and (max-width: 45em){
    .porthole-grid.six-columns .porthole{
        float:left;
        display:block;
        margin-right:3.57866%;
        width:74.10533%;
        margin-left:12.94733%
    }
    .porthole-grid.six-columns .porthole:last-child{
        margin-right:0
    }
}
@media screen and (max-width: 26.25em){
    .porthole-grid.six-columns .porthole{
        float:left;
        display:block;
        margin-right:3.57866%;
        width:74.10533%;
        margin-left:12.94733%
    }
    .porthole-grid.six-columns .porthole:last-child{
        margin-right:0
    }
}
.porthole{
    margin-top:2em;
    margin-bottom:1em;
    text-align:center
}
.porthole a{
    text-decoration:none
}
.porthole img{
    border-radius:50%;
    width:9.375em;
    height:9.375em;
    margin-bottom:1.25em
}
.porthole h4{
    padding-bottom:.35em
}
.porthole p{
    text-align:left
}
@media screen and (max-width: 26.25em){
    .porthole{
        margin-top:1.3125em
    }
    .porthole img{
        width:6.25em;
        height:6.25em
    }
    .porthole h4{
        letter-spacing:.0625em
    }
}
.porthole-heading{
    min-height:5em
}
.footer{
    padding-top:.75em;
    background:url("images\footer-pattern.png");
    background-size:cover;
    line-height:1.4em
}
.footer .footer-outer{
    padding-bottom:3.125em
}
@media screen and (max-width: 53.75em){
    .footer .footer-outer{
        padding-bottom:1.25em
    }
}
@media screen and (max-width: 60em){
    .footer #footer-address{
        padding-left:48px;
        padding-right:48px
    }
}
@media screen and (max-width: 45em){
    .footer #footer-address{
        padding-left:48px;
        padding-right:48px
    }
}
@media screen and (max-width: 26.25em){
    .footer #footer-address{
        padding-left:12px;
        padding-right:12px
    }
}
@media screen and (max-width: 53.75em) and (min-width: 34.375em){
    .footer #footer-address{
        padding-left:24px;
        padding-right:24px
    }
}
@media screen and (max-width: 34.375em){
    .footer #footer-address{
        background:url("images\footer-small.png")
    }
}
@media screen and (max-width: 53.75em){
    .footer #footer-outer-social{
        background:#4D4D4D;
        padding-top:1.25em
    }
}
.footer .footer-content{
    letter-spacing:.0625em;
    color:#ccc
}
@media screen and (min-width: 53.75em){
    .footer .footer-content{
        float:left;
        display:block;
        margin-right:2.35765%;
        width:82.94039%;
        margin-left:8.5298%
    }
    .footer .footer-content:last-child{
        margin-right:0
    }
}
.footer .footer-content p.heading{
    color:white;
    margin-bottom:.625em;
    font-weight:500
}
@media screen and (min-width: 53.75em){
    .footer .footer-content .cell{
        float:left;
        display:block;
        margin-right:2.35765%;
        width:31.76157%
    }
    .footer .footer-content .cell:last-child{
        margin-right:0
    }
    .footer .footer-content .cell:nth-child(3n){
        margin-right:0
    }
    .footer .footer-content .cell:nth-child(3n+1){
        clear:left
    }
}
@media screen and (max-width: 53.75em) and (min-width: 34.375em){
    .footer .footer-content .cell{
        float:left;
        display:block;
        margin-right:2.35765%;
        width:48.82117%
    }
    .footer .footer-content .cell:last-child{
        margin-right:0
    }
    .footer .footer-content .cell:nth-child(2n){
        margin-right:0
    }
    .footer .footer-content .cell:nth-child(2n+1){
        clear:left
    }
}
.footer .footer-content .cell>address{
    font-style:normal;
    padding-top:.875em
}
.footer .footer-content #footer-phone{
    border-top:1px solid #ccc
}
.footer .footer-content #footer-physical{
    border-top:1px solid #ccc
}
@media screen and (max-width: 34.375em){
    .footer .footer-content #footer-physical{
        border-top:none
    }
}
@media screen and (max-width: 53.75em) and (min-width: 34.375em){
    .footer .footer-content #footer-postal{
        margin-left:51.17883%
    }
}
.footer .footer-content #footer-postal>address{
    border-top:1px solid #ccc
}
@media screen and (max-width: 34.375em){
    .footer .footer-content #footer-postal>address{
        border-top:none
    }
}
@media screen and (max-width: 53.75em) and (min-width: 34.375em){
    .footer .footer-content #footer-postal>address{
        border-top:none;
        padding-top:1em
    }
}
.footer .footer-content #footer-logo{
    height:1.875em;
    float:left
}
.footer .footer-content #footer-logo img{
    max-height:100%;
    max-width:100%
}
.footer .footer-content #footer-totop{
    padding-top:.625em;
    float:right;
    text-align:right
}
.footer .footer-content #footer-totop a{
    text-decoration:none
}
.footer .footer-content .cell.social{
    margin-top:.8125em
}
@media screen and (min-width: 53.75em){
    .footer .footer-content .cell.social{
        margin-left:68.23843%
    }
}
@media screen and (max-width: 53.75em) and (min-width: 34.375em){
    .footer .footer-content .cell.social{
        margin-left:51.17883%
    }
}
.footer .footer-content .cell.social>div{
    border-top:1px solid #ccc;
    padding-top:.8125em
}
.footer .footer-content .cell.social>div>p>a{
    padding-right:.9375em
}
.footer .footer-content span.license-text{
    padding-left:1em;
    position:relative;
    bottom:5px;
    font-size:0.9em
}
.footer #footer-row-logo{
    margin-top:3.75em;
    overflow:hidden
}
@media screen and (max-width: 34.375em){
    .footer #footer-row-logo{
        margin-top:.75em
    }
}
.footer #footer-row-contact{
    margin-top:1.25em
}
.footer .footer-content a{
    color:#ccc
}
.footer .footer-content a:hover{
    color:#fff
}
.footer #footer-license{
    margin-top:2em
}
@media screen and (max-width: 53.75em) and (min-width: 34.375em){
    .footer #footer-outer-map{
        padding-bottom:0
    }
}
@media screen and (max-width: 34.375em){
    .footer #footer-outer-map{
        padding-bottom:0
    }
}
address+p{
    margin-top:1em
}
.index-header{
    margin-top:1em;
    text-align:center
}
.banner{
    position:relative;
    min-height:100vh;
    width:100%;
    background-color:black;
    margin:0;
    color:white
}
.banner a{
    color:white
}
a.contact-button{
    display:none
}
@media screen and (max-width: 45em){
    a.contact-button{
        display:inline-block
    }
}
.dragonfly-divider{
    height:8em
}
.dragonfly-divider #dragonfly-wing{
    position:absolute;
    left:0;
    right:0;
    height:8em;
    background-size:cover
}
.caption{
    position:absolute;
    text-align:left;
    font-size:0.8em;
    color:white;
    left:0.5em;
    bottom:0.2em;
    line-height:normal
}
.caption a{
    color:white;
    text-decoration:none
}
.caption a:hover{
    text-decoration:underline
}
.banner .container{
    opacity:0.9;
    text-align:center;
    color:#ffffff
}
.banner .container .content h1{
    padding:0;
    padding-top:1em;
    background:none;
    font-size:7.7vw;
    color:#ffffff
}
@media screen and (max-width: 35em){
    .banner .container .content h1{
        padding-top:0;
        font-size:19vw
    }
}
.banner .container .content p{
    font-size:2em
}
@media screen and (max-width: 26.25em){
    .banner .container .content p{
        font-size:8vw
    }
}
.index-banner{
    background-size:cover;
    position:relative;
    min-height:40vw;
    color:white;
    padding-bottom:1.65em
}
.index-banner.short-banner{
    min-height:initial
}
.index-banner p{
    font-size:1.2em
}
.index-banner blockquote{
    color:white;
    font-size:2em;
    font-weight:bold;
    border-left:none;
    font-style:italic;
    padding-left:0
}
.index-banner blockquote p{
    margin-bottom:0
}
.index-banner blockquote cite{
    color:white;
    font-size:0.7em;
    font-style:normal;
    font-weight:normal
}
.index-banner .exit{
    text-align:right
}
.index-banner a{
    color:white
}
.index-section{
    clear:both
}
.index-banner-image{
    background-size:cover;
    position:relative;
    min-height:22.66667em
}
@media screen and (max-width: 60em){
    .index-banner-image{
        min-height:20em
    }
}
@media screen and (max-width: 45em){
    .index-banner-image{
        min-height:15em
    }
}
.index-banner-image h1,.index-banner-image h2,.index-banner-image h3,.index-banner-image a{
    color:white
}
.index-banner-text{
    padding-top:1em;
    padding-bottom:1em;
    color:#ccc;
    background-color:#115068
}
.index-banner-text a{
    color:white;
    text-decoration:none
}
.index-friendly{
    margin-top:2em;
    margin-bottom:2em;
    float:left;
    display:block;
    margin-right:2.57751%;
    width:34.7234%;
    margin-left:9.32523%
}
.index-friendly:last-child{
    margin-right:0
}
.index-friendly:nth-child(2n){
    margin-right:0
}
.index-friendly:nth-child(2n+1){
    clear:left
}
@media screen and (max-width: 45em){
    .index-friendly{
        float:left;
        display:block;
        margin-right:2.35765%;
        width:65.88078%;
        margin-left:17.05961%;
        margin-right:0
    }
    .index-friendly:last-child{
        margin-right:0
    }
}
@media screen and (min-width: 45em){
    .index-friendly p{
        min-height:6em
    }
}
.index-friendly-porthole{
    text-align:center
}
.index-friendly-porthole a img{
    width:60%
}
.index-friendly-row{
    display:block
}
.index-friendly-row:after{
    content:"";
    display:table;
    clear:both
}
.section-break{
    margin-bottom:6em
}
@media screen and (max-width: 60em){
    .hide-small{
        display:none
    }
}
.hero{
    position:relative
}
@media screen and (max-width: 26.25em){
    .hero{
        margin-top:0
    }
}
.hero h1{
    position:absolute;
    bottom:10%;
    left:0px;
    color:white
}
@media screen and (max-width: 45em){
    .hero h1{
        position:static;
        background-color:transparent;
        color:#4D4D4D
    }
}
.post-list{
    max-width:68em;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    margin:2em auto
}
.post-list:after{
    content:"";
    display:table;
    clear:both
}
@media screen and (max-width: 26.25em){
    .post-list{
        width:100%
    }
}
.post-list .post-wrapper{
    border-bottom:solid 1px #E7E7E7;
    overflow:hidden;
    padding-bottom:0.5em;
    padding-top:1.5em
}
@media screen and (max-width: 26.25em){
    .post-list .post-wrapper{
        margin-left:-12px;
        padding-left:24px;
        margin-right:-12px;
        padding-right:24px;
        margin-bottom:0.5em;
        padding-bottom:0
    }
}
.post-list .post-wrapper .citation-year h1{
    margin-bottom:0.5em
}
@media screen and (max-width: 45em){
    .post-list .post{
        float:left;
        display:block;
        margin-right:3.57866%;
        width:100%
    }
    .post-list .post:last-child{
        margin-right:0
    }
}
.post-list .post p.subheading{
    color:grey
}
@media screen and (max-width: 26.25em){
    .post-list .post p.subheading{
        padding-top:0.5em
    }
}
.post-list .post a,.post-list .post a h3{
    text-decoration:none
}
.post-list .post h3{
    font-weight:500
}
.post-list .post .post-image{
    float:left;
    display:block;
    margin-right:3.57866%;
    width:22.316%
}
.post-list .post .post-image:last-child{
    margin-right:0
}
.post-list .post .post-porthole{
    width:100%;
    padding-top:100%;
    border-radius:50%;
    background-size:cover
}
.post-list .post .post-teaser{
    float:left;
    display:block;
    margin-right:3.57866%;
    width:74.10533%
}
.post-list .post .post-teaser:last-child{
    margin-right:0
}
@media screen and (max-width: 26.25em){
    .post-list .post p.subheading{
        display:inherit
    }
    .post-list .post img{
        width:6.25em;
        height:6.25em
    }
}
.post-wrapper:last-child{
    border-bottom:none
}
.totop{
    text-align:right
}
.totop a{
    color:#ccc;
    text-decoration:none
}
.totop a:hover{
    color:gray
}
.hidden{
    display:none
}
.post-banner-image{
    background-size:cover;
    position:relative;
    min-height:25vw
}
.post-banner-image blockquote{
    color:white;
    font-size:2em;
    font-weight:bold;
    border-left:none;
    font-style:italic;
    padding-left:0
}
.post-banner-image blockquote p{
    margin-bottom:0
}
.post-banner-image blockquote cite{
    color:white;
    font-size:0.7em;
    font-style:normal;
    font-weight:normal
}
.post-banner-image blockquote a.button{
    font-size:0.7em
}
.post-banner-image h1,.post-banner-image h2,.post-banner-image h3,.post-banner-image a{
    color:white
}
.post-top-image{
    padding:0.5em
}
.post-top-image .porthole{
    width:100%;
    padding-top:100%;
    border-radius:50%;
    background-size:cover
}
@media screen and (max-width: 45em){
    .post-top-image{
        padding-bottom:0
    }
    .post-top-image .porthole{
        width:50%;
        padding-top:50%;
        margin:0 auto
    }
}
.post-banner-overlay{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-color:rgba(0,0,0,0.5)
}
.post-detail .heading{
    margin-bottom:2em
}
@media screen and (max-width: 45em){
    .post-detail .heading{
        margin-bottom:1em
    }
}
.post-detail .heading .details{
    text-align:right;
    color:#4D4D4D
}
.post-detail .post-info{
    color:gray;
    text-align:right
}
.post-detail .post-info img{
    max-height:6em;
    -webkit-filter:opacity(50%);
    filter:opacity(50%)
}
@media screen and (max-width: 45em){
    .post-detail .post-info img{
        display:none
    }
}
.post-detail .sidebar .download a{
    font-weight:500
}
.section-work .post-detail .sidebar .download a,#work-section .post-detail .sidebar .download a,.post-detail .sidebar .download a.work,.work .post-detail .sidebar .download a{
    color:#2093bf
}
.section-people .post-detail .sidebar .download a,#people-section .post-detail .sidebar .download a,.post-detail .sidebar .download a.people,.people .post-detail .sidebar .download a{
    color:#5AB18C
}
.section-publications .post-detail .sidebar .download a,#publications-section .post-detail .sidebar .download a,.post-detail .sidebar .download a.publications,.publications .post-detail .sidebar .download a{
    color:#EB7A59
}
.section-data .post-detail .sidebar .download a,#data-section .post-detail .sidebar .download a,.post-detail .sidebar .download a.data,.data .post-detail .sidebar .download a{
    color:#82127E
}
.section-news .post-detail .sidebar .download a,#news-section .post-detail .sidebar .download a,.post-detail .sidebar .download a.news,.news .post-detail .sidebar .download a{
    color:#CF4547
}
.section-contact .post-detail .sidebar .download a,#contact-section .post-detail .sidebar .download a,.post-detail .sidebar .download a.contact,.contact .post-detail .sidebar .download a{
    color:#4D4D4D
}
.post-detail .sidebar .download a i{
    display:block
}
.post-detail a{
    color:gray
}
.post-detail div.post-body>p:nth-child(1){
    font-size:1.463em
}
@media screen and (min-width: 59.375em){
    .post-detail .post-body figure{
        width:50%;
        float:right
    }
}
#selected-publications>p{
    display:none
}
.publication-search{
    display:inline
}
#publication-count{
    border:2px grey
}
.bubble-navigation{
    padding-left:1em;
    padding-right:1em;
    height:3px;
    margin-top:100px;
    -webkit-filter:grayscale(20%);
    filter:grayscale(20%)
}
.bubble-navigation ul{
    list-style-type:none
}
.bubble-navigation li:first-child{
    margin-left:18.65046%
}
@media screen and (max-width: 45em){
    .bubble-navigation li:first-child{
        margin-left:0%
    }
}
@media screen and (max-width: 26.25em){
    .bubble-navigation li:first-child{
        margin-left:0%
    }
}
.bubble-navigation li{
    display:inline;
    width:100%;
    float:left;
    display:block;
    margin-right:2.57751%;
    width:6.74772%
}
.bubble-navigation li:last-child{
    margin-right:0
}
@media screen and (max-width: 45em){
    .bubble-navigation li{
        float:left;
        display:block;
        margin-right:4.11092%;
        width:10.76207%
    }
    .bubble-navigation li:last-child{
        margin-right:0
    }
}
@media screen and (max-width: 26.25em){
    .bubble-navigation li{
        float:left;
        display:block;
        margin-right:4.11092%;
        width:10.76207%
    }
    .bubble-navigation li:last-child{
        margin-right:0
    }
}
.bubble-navigation[data-section=people]{
    background-color:#5AB18C
}
.bubble-navigation[data-section=people] .bubble{
    border:3px solid #5AB18C
}
.bubble-navigation[data-section=work]{
    background-color:#2093bf
}
.bubble-navigation[data-section=work] .bubble{
    border:3px solid #2093bf
}
.bubble-navigation[data-section=news]{
    background-color:#CF4547
}
.bubble-navigation[data-section=news] .bubble{
    border:3px solid #CF4547
}
.bubble{
    border-radius:50%;
    background-size:cover;
    width:100%;
    padding-top:-webkit-calc(100% - 6px);
    padding-top:calc(100% - 6px);
    position:relative;
    top:50%;
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    -o-transform:translateY(-50%);
    transform:translateY(-50%);
    -webkit-filter:grayscale(60%);
    filter:grayscale(60%)
}
.bubble p{
    position:absolute;
    top:-2em;
    overflow:show;
    white-space:nowrap;
    width:400%;
    margin-left:-150%;
    text-align:center;
    opacity:0;
    height:0em;
    -webkit-transition-property:opacity;
    -moz-transition-property:opacity;
    transition-property:opacity;
    -webkit-transition-duration:0.2s;
    -moz-transition-duration:0.2s;
    transition-duration:0.2s;
    -webkit-transition-timing-function:ease-in;
    -moz-transition-timing-function:ease-in;
    transition-timing-function:ease-in;
    -webkit-transition-delay:0.2s;
    -moz-transition-delay:0.2s;
    transition-delay:0.2s
}
@media screen and (max-width: 26.25em){
    .bubble p{
        display:none
    }
}
.bubble:hover{
    -webkit-animation:growBubble 0.2s ease-in;
    -moz-animation:growBubble 0.2s ease-in;
    animation:growBubble 0.2s ease-in;
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards
}
.bubble:hover p{
    opacity:100;
    height:1em
}
@-webkit-keyframes growBubble{
    from{
        -webkit-transform:scale(1, 1) translateY(-50%)
    }
    to{
        -webkit-transform:scale(1.2, 1.2) translateY(-42%);
        -webkit-filter:grayscale(0%)
    }
}
@-moz-keyframes growBubble{
    from{
        -moz-transform:scale(1, 1) translateY(-50%)
    }
    to{
        -moz-transform:scale(1.2, 1.2) translateY(-42%)
    }
}
@keyframes growBubble{
    from{
        -webkit-transform:scale(1, 1) translateY(-50%);
        -moz-transform:scale(1, 1) translateY(-50%);
        -ms-transform:scale(1, 1) translateY(-50%);
        -o-transform:scale(1, 1) translateY(-50%);
        transform:scale(1, 1) translateY(-50%)
    }
    to{
        -webkit-transform:scale(1.2, 1.2) translateY(-42%);
        -moz-transform:scale(1.2, 1.2) translateY(-42%);
        -ms-transform:scale(1.2, 1.2) translateY(-42%);
        -o-transform:scale(1.2, 1.2) translateY(-42%);
        transform:scale(1.2, 1.2) translateY(-42%);
        -webkit-filter:grayscale(0%);
        filter:grayscale(0%)
    }
}
.section-people+footer{
    margin-top:0
}
.section-work+footer{
    margin-top:0
}
.dropdown{
    line-height:1.65em
}
.dropdown .dropdown-container{
    display:inline-block;
    position:relative;
    text-align:center
}
.dropdown .dropdown-button{
    border:1px solid silver;
    border-radius:.3125em;
    background:#fff;
    cursor:pointer;
    float:right;
    font-size:0.7em;
    line-height:40px;
    margin:0;
    padding:0 2.5em 0 .5em;
    position:relative
}
@media screen and (min-width: 60em){
    .dropdown .dropdown-button{
        font-size:1em;
        padding:0 2.5em 0 .5em
    }
}
.dropdown .dropdown-button:hover{
    background-color:#f7f7f7
}
.dropdown .dropdown-button:after{
    color:#222;
    content:"\25BE";
    display:block;
    position:absolute;
    right:1em;
    top:0
}
.dropdown .dropdown-menu{
    -webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
    background:#fff;
    border-radius:.3125em;
    border:1px solid silver;
    box-shadow:0 2px 2px rgba(0,0,0,0.2);
    color:#222;
    cursor:pointer;
    display:none;
    margin:0;
    overflow:show;
    padding:0;
    position:absolute;
    right:0;
    top:50px;
    width:228px;
    z-index:99999
}
.dropdown .dropdown-menu:before{
    position:absolute;
    top:0;
    right:1em;
    bottom:0;
    left:0;
    color:#fff;
    content:"\25b2";
    font-size:1.4em;
    pointer-events:none;
    text-shadow:0 -2px 2px rgba(0,0,0,0.3);
    top:-0.7em
}
.dropdown .dropdown-menu li{
    border-bottom:1px solid silver;
    color:#222;
    list-style:none;
    padding:.5em
}
.dropdown .dropdown-menu li:hover{
    background:#f7f7f7
}
.dropdown .dropdown-menu li:first-child{
    border-top-left-radius:.3125em;
    border-top-right-radius:.3125em
}
.dropdown .dropdown-menu li:last-child{
    border:none;
    border-bottom-left-radius:.3125em;
    border-bottom-right-radius:.3125em
}
.dropdown .show-menu{
    display:block
}
.case-study-list,.services-list{
    float:left;
    display:block;
    margin-right:2.35765%;
    width:100%;
    margin-left:0%;
    position:relative
}
.case-study-list:last-child,.services-list:last-child{
    margin-right:0
}
@media screen and (max-width: 60em){
    .case-study-list,.services-list{
        float:left;
        display:block;
        margin-right:2.35765%;
        width:65.88078%;
        margin-left:17.05961%
    }
    .case-study-list:last-child,.services-list:last-child{
        margin-right:0
    }
}
@media screen and (max-width: 45em){
    .case-study-list,.services-list{
        float:left;
        display:block;
        margin-right:2.35765%;
        width:100%;
        margin-left:0%
    }
    .case-study-list:last-child,.services-list:last-child{
        margin-right:0
    }
}
.case-study-list:after,.services-list:after{
    content:"";
    display:table;
    clear:both
}
.case-study-list .case-study .case-study-image,.services-list .case-study .case-study-image{
    border-radius:50%
}
.case-study{
    float:left;
    display:block;
    margin-right:2.35765%;
    width:23.23176%;
    margin-right:0;
    padding:0 0 0 6%;
    margin-top:2em
}
.case-study:last-child{
    margin-right:0
}
@media screen and (max-width: 60em){
    .case-study{
        float:left;
        display:block;
        margin-right:2.35765%;
        width:48.82117%
    }
    .case-study:last-child{
        margin-right:0
    }
    .case-study:nth-child(2n){
        margin-right:0
    }
    .case-study:nth-child(2n+1){
        clear:left
    }
}
@media screen and (max-width: 26.25em){
    .case-study{
        float:left;
        display:block;
        margin-right:2.35765%;
        width:100%;
        margin-right:0
    }
    .case-study:last-child{
        margin-right:0
    }
}
.case-study .case-study-image{
    margin-left:auto;
    margin-right:auto;
    width:100%;
    padding-top:100%;
    background-size:cover
}
@media screen and (max-width: 60em){
    .case-study .case-study-image{
        width:80%;
        padding-top:80%
    }
}
@media screen and (max-width: 26.25em){
    .case-study .case-study-image{
        width:60%;
        padding-top:60%
    }
}
.case-study .case-study-description{
    margin-top:1em
}
.case-study .case-study-description a{
    text-decoration:none
}
.case-study h3{
    min-height:5em
}
.services-list{
    margin-top:0
}
.services-list .case-study h3{
    padding-bottom:0.5em
}
/*
@media screen and (min-width: 60em){
    #dragonfly-wing{
        background-image:url("images\1600-dragonfly-wing.png")
    }
}
@media screen and (min-width: 26.25em) and (max-width: 60em){
    #dragonfly-wing{
        background-image:url("images\960-dragonfly-wing.png")
    }
}
@media screen and (max-width: 26.25em){
    #dragonfly-wing{
        background-image:url("images\420-dragonfly-wing.png")
    }
}
*/
#index-ipad-image{
    background-position-x:100%;
    background-position-y:8%
}
/*
@media screen and (min-width: 60em){
    #index-ipad-image{
        background-image:url("images\1600-kokako.jpg")
    }
}
@media screen and (min-width: 26.25em) and (max-width: 60em){
    #index-ipad-image{
        background-image:url("images\960-kokako.jpg")
    }
}
@media screen and (max-width: 26.25em){
    #index-ipad-image{
        background-image:url("images\420-kokako.jpg")
    }
}
*/
#wide-404{
    margin-top:5em;
    margin-bottom:10em
}
p{
    line-height:1.45em
}
div.page-title{
    padding-left:24px
}
@media screen and (max-width: 45em){
    div.page-title{
        padding-left:48px
    }
}
div.page-title h2{
    padding-top:0.5em
}
@media screen and (max-width: 26.25em){
    div.page-title h2{
        display:none
    }
}
.full-screen{
    min-height:-webkit-calc(100vh - 5.125em);
    min-height:calc(100vh - 5.125em)
}
@media screen and (max-width: 60em){
    .full-screen{
        min-height:-webkit-calc(100vh - 2.625em);
        min-height:calc(100vh - 2.625em)
    }
}
li.year-2018+li.year-2018>div.citation-year{
    display:none
}
li.year-2017+li.year-2017>div.citation-year{
    display:none
}
li.year-2016+li.year-2016>div.citation-year{
    display:none
}
li.year-2015+li.year-2015>div.citation-year{
    display:none
}
li.year-2014+li.year-2014>div.citation-year{
    display:none
}
li.year-2013+li.year-2013>div.citation-year{
    display:none
}
li.year-2012+li.year-2012>div.citation-year{
    display:none
}
li.year-2011+li.year-2011>div.citation-year{
    display:none
}
li.year-2010+li.year-2010>div.citation-year{
    display:none
}
li.year-2009+li.year-2009>div.citation-year{
    display:none
}
li.year-2008+li.year-2008>div.citation-year{
    display:none
}
li.year-2007+li.year-2007>div.citation-year{
    display:none
}
li.year-2006+li.year-2006>div.citation-year{
    display:none
}
li.year-2005+li.year-2005>div.citation-year{
    display:none
}
li.year-2004+li.year-2004>div.citation-year{
    display:none
}
li.year-2003+li.year-2003>div.citation-year{
    display:none
}
li.year-2002+li.year-2002>div.citation-year{
    display:none
}
li.year-2001+li.year-2001>div.citation-year{
    display:none
}
li.year-2000+li.year-2000>div.citation-year{
    display:none
}
li.year-1999+li.year-1999>div.citation-year{
    display:none
}
li.year-1998+li.year-1998>div.citation-year{
    display:none
}
li.year-1997+li.year-1997>div.citation-year{
    display:none
}
li.year-1996+li.year-1996>div.citation-year{
    display:none
}
li.year-1995+li.year-1995>div.citation-year{
    display:none
}
li.year-1994+li.year-1994>div.citation-year{
    display:none
}
li.year-1993+li.year-1993>div.citation-year{
    display:none
}
li.year-1992+li.year-1992>div.citation-year{
    display:none
}
 